<% content_for :body_class, "not-home" %>
<div class="row">
  <h4 class="right-align light-green-text col s3 offset-s9" id="text-format">Welcome, <%= "#{current_user.username}" %>!</h4>
</div><br><br>
<div class="container playlist-index">
  <% if @playlists.empty? %><br><br>
  <div class="row">
  <h3 class="center-align light-green-text">Click Get Started! to make a Playlist!</h3>
  </div>
  <div class="row">
    <div class="center-align"><%= link_to "Get Started!", "/playlists/new", class: "btn-large waves-effect waves-light light-green" %> </div>
  </div>
  <% else %>
  <div class="row">
    <h4 class="center-align light-green-text col s12">Your Playlists:</h4>
  </div>
    <ul class="collapsible" data-collapsible="accordion">
      <% @playlists.each do |playlist| %>
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i><%= playlist.name %> - <%= playlist.created_at.strftime("%B %d, %Y") %></div>
          <div class="collapsible-body white"><div><a class="btn-floating btn-large waves-effect waves-light light-green"><i class="mdi-content-add"></i></a><%= link_to "Add Playlist to Spotify", spotify_playlist_path(id: playlist.id), method: :post %> </div>
          <% playlist.tracks.each do |track| %> <ol>
            <li><%= track.artist %> - <%= track.title %></li></ol>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
