<% content_for :body_class, "not-home" %>
<div class="row">
  <h4 class="right-align light-green-text col s3 offset-s8" id="text-format">Welcome, <%= "#{current_user.username}" %>!</h4>
</div>
  </div>
<div class="container playlist-create">
  <div class="row center-align playlist-form">
      <%= form_tag("/playlists", method: "post") do %>
        <h4 class="light-green-text">Choose Activity</h4>
        <div class="input-field col s6 offset-s3 light-green"><%= select_tag "activity",
          "<option>hike - easy</option><option>hike - moderate</option><option>hike - hard</option>
           <option>run - easy</option><option>run - moderate</option><option>run - hard</option>
           <option>bike - easy</option><option>bike - moderate</option><option>bike - hard</option>".html_safe %></div><br><br><br><br>
        <h4 class="light-green-text">Enter Time</h4>
        <div class="input-field col s6 offset-s3 light-green"><input placeholder="minutes"<%= text_field_tag 'time' %></div><br><br><br><br>
        <h4 class="light-green-text">Name Playlist</h4>
        <div class="input-field col s6 offset-s3 light-green"><input placeholder="name" <%= text_field_tag 'name' %></div><br><br><br><br><br>
        <div class="col s4 offset-s4"><%= submit_tag "Create Playlist", class: "btn-large light-green" %> </div><br><br><br>
      <% end %>
  </div>
</div>
