<nav>
 <div class="nav-wrapper black logo">
    <%= link_to "GreaterOutdoors", root_path, class: "brand-logo brand" %>
     <ul id="nav-mobile" class="right">
      <% if current_user %>
       <li><%= link_to "Get Started!", new_playlist_path %></li>
        <li><%= link_to "Playlists", playlists_path %></li>
        <!-- <li><%= image_tag "#{current_user.image_url}", class:"nav_image dropdown-button" %></li> -->
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Log In with Spotify", "/auth/spotify" %></li>
      <% end %>
    </ul>
  </div>
 </nav>
