<!DOCTYPE html>
<html>
  <head>
    <title>GreaterOutdoors</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <main>
    <body class="<%= yield (:body_class) %>">
      <%= render :partial => 'layouts/nav' %>
        <div class="footer_height">
            <% if !flash.empty? %>
              <div class="row">
                <div class="col s4 offset-s4">
                  <% flash.each do |type, message| %>
                  <%= content_tag :div, message, class: "#{type} flash_message center-align" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <%= yield %>
      </body>
  </main>

  <footer class="page-footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text brand">Greater Outdoors</h6>
          <h6 class="grey-text text-lighten-4">Get Out There</h6>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text footer-text">Cowboy Kyle</h6>
        </div>
      </div>
    </div>
  </footer>
</html>
